h1{
  color: black;
  font-size: 170px;
}

body{
  background-image : url("../images/Sketch.gif");
  img src= url("Girls-face.jpg"); alt=" " style="width:304px;height:228px;">
}
div{
  background-color: white;
  background-color: rgba(255,255,255,0.5);
  /*border: 1px;*/
  border-style: solid;

  /*color: white;*/
}
p{
  color: black;
  font-size: 50px;
}
li{
  color: black;
  font-size: 50px;
}

h2{
  color: black;
}
h3{
  color: black;
  font-size: 50px;
}
h4{
  color: red;
  font-size: 50px;
}h5{
  color: black;
  font-size: 50px;
}
