h1{
  color: red;
}

body{
  background-image : url("images/music.jpg");
  background-size: cover;
}


div{
  height: 100px;
}

h2{
  color:red;
}
h3{
  color: yellow;
}
h4{
  color: yellow;
  font-size: 120px;
}
